{% extends 'home.html' %}


{% block main_title %}Log In{% endblock %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/form.css' %}" />
{% endblock %}

{% block content %}

    <form action="{% url 'login_authentication' %}" method="post" >{% csrf_token %}
        <p>
            Username: <label><input class="input" type="text" name="username" maxlength="15" required /></label><br/>
            Password: <label><input class="input" type="password" name="password" required /></label><br/>
            <input class="form-submit-button" type="submit" value="Login" /> <br /><br />
            {{ success }}
            {{ state }}
        </p>
    </form>

{% endblock %}










